<p id="notice"><%= notice %></p>

<p>The address you listed is at:</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>


<% @nearby_buses.each do |bus| %>
  <p>
    Route: <%= bus["ROUTE"] %>
  </p>
  <p>
    Bus Number: <%= bus["VEHICLE"] %>
  </p>
  <p>
    Lat: <%= bus["LATITUDE"] %>
  </p>
  <p>
    Long: <%= bus["LONGITUDE"] %>
  </p>
  <hr>
<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
