<p id="notice"><%= notice %></p>

<p>The address you listed is at:</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<div id="map-canvas"></div>

<% @nearby_buses.each do |bus| %>

<% end %>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>

<script type="text/javascript">
  function initialize() {

    var myLatLng = new google.maps.LatLng(<%= @location.latitude %>, <%= @location.longitude %>)

    var mapOptions = {
      scrollwheel: false,
      center: myLatLng,
      zoom: 14
    }

    var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions)

    var myMarker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      animation: google.maps.Animation.DROP,
      title: "Your Location"
    })

  }

  google.maps.event.addDomListener(window, "load", initialize)
</script>
